body {
    background-image: url('background.png');
    background-color: #cccccc;
    height: 259vw;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5vw;
}

p {
    font-size: 5vw;
    margin: 0;
    text-align: center;
}

a {
    font-size: 9vw;
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: white;
}

.blue {
    text-shadow:
            3px 3px 0 white,
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
    color: blue;
}

.orange {
    text-shadow:
            3px 3px 0 white,
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
    color: orange;
}


.town {
    width: 53vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 2vw;
    top: 30%;
    left: 5%;
}

div h1 {
    margin: 0;
}

.quest {
    width: 53vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 57%;
    left: 38%;
    font-size: 2vw;
}

.pollution {
    width: 40vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 71%;
    left: 29%;
    font-size: 2vw;
}

.header {
    display: flex;
    justify-content: space-around;
}

footer {
    height: 40vw;
    width: 100%;
    position: absolute;
    top: 85%;
    right: 7.5%;
    display: flex;
    align-items: center;
}

.links {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: initial;

}

.contact {
    position: relative;
    bottom: 2%;
}

.faq {
    position: relative;
    top: 4%;
}

.download {
    display: flex;
    align-items: center;
}

.other {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    bottom: 4%;
}


@supports (-webkit-appearance:none) {
    .orange {
        text-shadow: none;
        -webkit-text-stroke: 0.2vw white;
    }
    .blue {
        text-shadow: none;
        -webkit-text-stroke: 0.2vw white;
    }

}


/* 4937 */